body {
  height: 100%;
  color: #2d3134;
}
#app {
  height: 100%;
}

:root {
  --textcolor: #2d3134;
  --bgcolor: #fff1da;
  --maincolor: #f66f4d;
  --graycolor: #efefef;
  --attraction-info-color: #909090;
  --heartcolor: #f86666;
  --lightgray: #F5F5F5;
  --p-inputtext-background: transparent;
  --bluecolor: #4D9BF6;
  --unselected-day: #A5A5A5;
}
